NEXT_PUBLIC_SUPABASE_URL=https://sslkiqfcakuytsgikosc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNzbGtpcWZjYWt1eXRzZ2lrb3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxOTQ0NTYsImV4cCI6MjA5MTc3MDQ1Nn0.z9eSmgsAilpt_AWMQaCB0t9ZN029A37JDVRqeZ0QFIo

SUPABASE_SERVICE_ROLE_KEY=UPABASE_SERVICE_ROLE_KEY=cola_aqui_a_service_role_key_do_supabase
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BLnRfDptV3zIgHlGrslSHRd9KZeN9s9ONmbX2Njcr7ymJMe4VlxuSjTVUak4nUuaC2c_Pl-D8F6MhR6kmpQFy28
VAPID_PRIVATE_KEY=czOmymb4b1aNsgaWBzywMHPjtKRGKCKIACNR6Krrgw7g
VAPID_EMAIL=danielcostasilva.dcs@gmail.com
ADMIN_NOTIFY_KEY=6qfO5CJ2@
